<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
    <h2>회원목록</h2>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">순번</th>
              <th scope="col">ID</th>
              <th scope="col">아이디</th>
              <th scope="col">비번</th>
              <th scope="col">이름</th>
              <th scope="col">권한</th>
              <th scope="col">가입일</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="member, status: ${list}">
              <td><span th:text="${status.count}"></span></td>
              <td><span th:text="|${member.id}|"></span></td>
              <td><span th:text="|${member.userId}|"></span></td>
              <td><span th:text="|${member.userPw}|"></span></td>
              <td><span th:text="|${member.userName}|"></span></td>
              <td><span th:text="|${member.userRole}|"></span></td>
              <td><span th:text="|${member.joindate}|"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
