<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 내용</title>
    <!--헤더-->
    <div th:replace="/fragments/header :: fragment-header"></div>
</head>
<body>
<div id="warp">
    <div th:replace="/fragments/nav :: fragment-nav"></div>
    <form action="updateAction">
        <table class="table table-bordered">
            <input type="hidden" name="boardIdx" th:value="${dto.boardIdx}">
            <tr>
                <td>글인덱스</td>
                <td th:text="${dto.boardIdx}"></td>
            </tr>
            <tr>
                <td>조회수</td>
                <input type="hidden" name="boardHit" th:value="${dto.boardIdx}">
                <td th:text="${dto.boardIdx}"></td>
            </tr>
            <tr>
                <td>이름</td>
                <td>
                    <input type="text" class="form-control" name="boardName" th:value="${dto.boardName}" size="50">
                </td>
            </tr>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" class="form-control" name="boardName" th:value="${dto.boardTitle}" size="50">
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <textarea class="form-control" name="boardContent" cols="50" rows="10"
                              th:text="${dto.boardContent}"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn btn-success mx-2" value="수정하기">
                        <a href="listForm">
                            <button type="button" class="btn btn-primary ms-2 mx-2">목록보기</button></a>
                        <a th:href="|deleteAction?boardIdx=${dto.boardIdx}|">
                            <button type="button" class="btn btn-danger ms-2 mx-2">삭제하기</button>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<!--댓글목록-->
<div style="width: 100%">
    <h3 class="sub-title">댓글목록</h3>
    <table class="table table-striped table=bordered">
        <tr>
            <th>별명</th>
            <th>내용</th>
            <th>날짜</th>
            <th>삭제</th>
        </tr>

    </table>


</div>


<!--댓글쓰기 - 부트스트랩 아코디언-->

<!--푸터-->
<footer th:replace="/fragments/footer :: fragment-footer"></footer>
</body>

</html>