<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- 헤더 -->
    <div th:replace="/fragments/header.html :: fragment-header"></div>
  </head>
  <body>
    <div id="wrap">
      <!-- nav -->
      <div th:replace="/fragments/nav.html :: fragment-nav"></div>
      <br />
      <div style="width: 100%">
        <h3 class="sub-title">글쓰기</h3>
        <form action="writeAction" method="post">
          <table class="table table-bordered">
            <input type="hidden" name="boardHit" value="0" />
            <tr>
              <td>
                <label class="form-label">이름</label>
              </td>
              <td>
                <input
                  type="text"
                  name="boardName"
                  size="50"
                  class="form-control"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">제목</label>
              </td>
              <td>
                <input
                  type="text"
                  name="boardTitle"
                  size="50"
                  class="form-control"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">내용</label>
              </td>
              <td>
                <textarea
                  class="form-control"
                  name="boardContent"
                  cols="48"
                  rows="10"
                ></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center">
                &nbsp;&nbsp;<input
                  type="submit"
                  class="btn btn-success ms-2"
                  value="글쓰기"
                />&nbsp;&nbsp;
                <a href="listForm"
                  ><input
                    type="button"
                    class="btn btn-primary ms-2"
                    value="목록보기"
                /></a>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <!-- 푸터 -->
      <div th:replace="/fragments/footer.html :: fragment-footer"></div>
    </div>
  </body>
</html>
