<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입2</title>

    <!-- Main CSS : Header, Main, Footer -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/member/join.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Bootstarp JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>

    <script>
        function checkValue() {
            let pwLen = document.userInfo.userPw.value.length;
            if (!document.userInfo.userId.value) {
                alert('아이디를 입력하세요');
                document.getElementById("userId").focus();
                return false;
            }

            if (!document.userInfo.userPw.value) {
                alert('비밀번호를 입력하세요');
                document.getElementById("userPw").focus();
                return false;
            }

            if (pwLen < 4) {
                alert('비밀번호는 4자리 이상 입력하세요');
                return false;
            }

            if (!document.userInfo.userName.value) {
                alert('이름을 입력하세요');
                document.getElementById("userName").focus();
                return false;
            }

            if (!document.userInfo.userEmail.value) {
                alert('이메일을 입력하세요');
                document.getElementById("userEmail").focus();
                return false;
            }

            if (document.userInfo.emailReceive.value === "") {
                alert('이메일 수신 여부에 체크해주세요')
                return false;
            }

            if (document.userInfo.pwCheckQuestion.value === "0") {
                alert('비밀번호 확인시 질문을 선택해주세요');
                return false;
            }

            if (!document.userInfo.pwCheckAnswer.value) {
                alert('비밀번호 확인시 답변을 입력하세요');
                return false;
            }

            if (document.userInfo.userGender.value === "") {
                alert('성별에 체크해주세요')
                return false;
            }

            if (document.userInfo.userBirthday.value === "") {
                alert('생년월일을 입력하세요');
                return false;
            }

            // return false;

            return true;
        }

        function checkIdDuplicate() {
            let inputId = document.getElementById("userId").value;
            fetch("/member/checkIdDuplicate", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    inputId,
                }),
            }).then((response) => {
                return response.json();
            }).then((json) => {
                console.log(json);
                alert(json.message);
                if (json.status === "fail") {
                    document.getElementById("userId").focus();
                }
            })
        }

        function checkPw() {
            let pw = document.getElementById("userPw").value;
            let checkPw = document.getElementById("userPwCheck").value;
            // console.log(pw);
            // console.log(checkPw);
            if (pw === checkPw) {
                document.getElementById("pwResult").style.color = "green";
                document.getElementById("pwResult").innerText = "비밀번호가 일치합니다.";
            } else {
                document.getElementById("pwResult").style.color = "red";
                document.getElementById("pwResult").innerText = "비밀번호가 일치하지 않습니다.";
            }
        }
    </script>

</head>
<body>
<!-- 헤더 -->
<div th:replace="fragments/headerTop :: headerTopFragment" id="headerTop"></div>
<div th:replace="fragments/header :: headerFragment" id="header" class="sticky-top"></div>

<!-- 메인 -->
<!-- COMMON -->
<div class="commonSection1">
    <div class="commonContent1">
        <img src="../img/member/sub-visual02.jpg"
             style="width: 100%; height: 100%;">
        <div class="commonContent2 text-center">
            <div>
                <h3>MEMBER</h3>
            </div>
            <div>
                <p><img src="../img/icon-home.png"> > 회원가입</p>
            </div>
        </div>
    </div>
</div>

<!-- 메인 -->
<!-- 회원가입 -->
<div class="joinForm container">

    <div class="joinSection1">
        <div><h3>회원가입</h3></div>
        <div><p>The design and maintenance are excellent.</p></div>
    </div>
    <div class="wellcome">
        <h3>OOO사이트에 오신 것을 환영합니다.</h3>
        <h5>-이름과 이메일을 입력해 주시면 가입여부를 확인 후 회원가입 절차가 이루어집니다.</h5>
    </div>
    <br><br>
    <div class="contents">
        <h3>회원가입을 위해서 아래의 양식에 있는 내용을 입력해 주셔야 합니다.</h3>
        <h5>-회원님의 개인정보를 신중하게 보호하고 있으며 회원님의 동의 없이는 기재하신 회원정보가 누출되지 않습니다.
            자세한 내용은 개인정보보호정책에서 확인하세요.</h5>
    </div>
    <!-- 입력폼 -->
    <form action="/member/joinAction" method="post" name="userInfo" onsubmit="return checkValue()">

        <div class="information1">
            <div>기본정보</div>
            <table>
                <tr>
                    <td>아이디</td>
                    <td>
                        <input type="text" name="userId" id="userId">
                        <!--아이디 중복 체크-->
                        <img src="../img/member/btn_iddupl.gif" onclick="checkIdDuplicate()">
                        (영문 소문자, 숫자로 4~16자)
                    </td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td>
                        <input type="password" name="userPw" id="userPw">
                        영문/숫자/특수문자조합으로 4~16자리.
                    </td>
                </tr>
                <tr>
                    <td>비밀번호 확인</td>
                    <td><input type="password" name="userPwCheck" id="userPwCheck" onkeyup="checkPw()">
                        <span id="pwResult"></span>
                    </td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td><input type="text" name="userName" id="userName"></td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td><input type="email" name="userEmail" id="userEmail"></td>
                </tr>
                <tr>
                    <td>이메일 수신여부</td>
                    <td><input type="radio" name="emailReceive" id="emailReceive1" value="0">
                        <label for="emailReceive1">
                            수신
                        </label>
                        <input type="radio" name="emailReceive" id="emailReceive2" value="1">
                        <label for="emailReceive2">
                            수신안함
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>비밀번호 확인시 질문</td>
                    <td>
                        <select class="size" name="pwCheckQuestion">
                            <option value="0">========선택========</option>
                            <option value="1">기억에 남는 추억의 장소는?</option>
                            <option value="2">자신의 인생 좌우명은?</option>
                            <option value="3">자신의 보물 제1호는?</option>
                            <option value="4">가장 기억에 남는 선생님 성함은?</option>
                            <option value="5">내가 좋아하는 캐릭터는?</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>비밀번호 확인시 답변</td>
                    <td><input type="text" name="pwCheckAnswer" id="pwCheckAnswer"></td>
                </tr>
                <tr>
                    <td>성별</td>
                    <td><input type="radio" name="userGender" value="남자">남자
                        <input type="radio" name="userGender" value="여자">여자
                    </td>
                </tr>
                <tr>
                    <td>생년월일</td>
                    <td>
                        <input type="date" class="birthdaySelect" name="userBirthday">
                    </td>
                </tr>
            </table>
        </div>
        <div class="Information2">부가정보</div>
        <div class="imageBtn2">
            <input type="image" src="/img/member/btn_confirm.gif">
            <a onclick="location.href='/'">
                <img src="/img/member/btn_cancel.gif"
                >
            </a>
        </div>
    </form>

</div>


<!-- 푸터 -->
<div th:replace="fragments/footer :: footerFragment" id="footer"></div>

</body>
</html>