<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="container mx-auto flex flex-col m-5">
      <h1 class="text-lg font-bold">계산기 프로그램</h1>
      <label class="m-3">숫자 1</label>
      <input
        type="number"
        name="a"
        th:value="|${inputA}|"
        class="border rounded-lg border-lime-300 h-8"
        id="a"
      />
      <label class="m-3">숫자 2</label>
      <input
        type="number"
        name="b"
        th:value="|${inputB}|"
        class="border rounded-lg border-lime-300 h-8"
        id="b"
      />
      <label class="m-3">연산 결과</label>
      <input
        type="text"
        disabled
        th:value="|${result}|"
        class="border rounded-lg border-lime-300 h-8"
        id="result"
      />
      <div class="flex flex-col m-3 content-around">
        <input
          name="calc"
          id="plus"
          type="button"
          value="덧셈"
          class="self-center m-3 h-8 bg-blue-500 text-white border rounded-lg w-3/6"
        />
        <input
          name="calc"
          id="minus"
          type="button"
          value="뺄셈"
          class="self-center m-3 h-8 bg-blue-500 text-white border rounded-lg w-3/6"
        />
        <input
          name="calc"
          id="multi"
          type="button"
          value="곱셈"
          class="self-center m-3 h-8 bg-blue-500 text-white border rounded-lg w-3/6"
        />
        <input
          name="calc"
          id="div"
          type="button"
          value="나눗셈"
          class="self-center m-3 h-8 bg-blue-500 text-white border rounded-lg w-3/6"
        />
        <button
          type="button"
          onclick="resetAB()"
          class="self-center m-3 h-8 bg-blue-500 text-white border rounded-lg w-3/6"
        >
          지우기
        </button>
      </div>
    </div>
  </body>
  <script>
    const resetAB = () => {
      document.getElementById("a").value = "0";
      document.getElementById("b").value = "0";
      document.getElementById("result").value = "";
      document.getElementById("a").focus();
    };
    let str = "";
    document.getElementById("plus").addEventListener("click", function (e) {
      calcAB("plus");
    });
    document.getElementById("minus").addEventListener("click", function (e) {
      calcAB("minus");
    });
    document.getElementById("multi").addEventListener("click", function (e) {
      calcAB("multi");
    });
    document.getElementById("div").addEventListener("click", function (e) {
      calcAB("div");
    });
    const calcAB = (action) => {
      let a = document.getElementById("a").value;
      let b = document.getElementById("b").value;
      if (action == "plus") {
        str = "http://localhost:8080/api/v1/add";
      } else if (action == "minus") {
        str = "http://localhost:8080/api/v1/sub";
      } else if (action == "multi") {
        str = "http://localhost:8080/api/v1/mul";
      } else if (action == "div") {
        str = "http://localhost:8080/api/v1/div";
      }

      fetch(str, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          num1: a,
          num2: b,
        }),
      })
        .then((response) => {
          console.log(response);
          return response.json();
        })
        .then((json) => {
          document.getElementById("result").value = json.result;
        })
        .catch((error) => console.log(error));
    };
  </script>
</html>
